html, body {
  font-family: 'Oxygen', Helvetica, Sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#title {
  margin-top: 20px;
  margin-bottom: 20px;
}

#main-row {
  height: 100vh;
}

.map-canvas {
  position: relative;
  left: 15px;
  height: 100vh;
}

.side-bar {
  height: 100vh;
  box-shadow: 0px 0px 10px 1px inset;
  overflow: scroll;
  background-color: #efefef;
}

.foodtruck {
  list-style-type: none;
}

ul > .foodtruck {
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
}

.selected {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(30, 144, 255, 0.3))
}

.links {
  margin-bottom: 10px;
}
